* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    background-image: url(/pexels-ella-olsson-1640774.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon {
    color: #ff5816;
    width: 11.5rem;

}

svg {
    fill: currentColor;
}